<div class="ion-padding">
  <h1>
    <span *ngIf="characterName && !loadingName">
      {{ characterName + ' ' }}
    </span>
    Comics
  </h1>

  <div *ngIf="loading"><!-- marvelData.data.results.length===0 &&  -->
    <div class="container-loading-list">
      <ion-spinner></ion-spinner>
    </div>
  </div>

  <div *ngIf="marvelData && marvelData.data && marvelData.data.results && marvelData.data.results.length===0 && !loading">
    no comics found<br /><br />
    <a class="btn-back" (click)="goBack()">&laquo; Back to character</a>
  </div>

  <div *ngIf="marvelData && marvelData.data && marvelData.data.results && marvelData.data.results.length>0 && !loading"> 
    <ion-list>
      <ion-item *ngFor="let comic of marvelData.data.results" detail="false" routerLink="/comic/{{ comic.id }}">
        <ion-thumbnail slot="start">
          <img src="{{ comic.thumbnail.path + '.' + comic.thumbnail.extension }}" />
        </ion-thumbnail>
        <ion-label text-wrap>{{ comic.title }}</ion-label>
      </ion-item>
    </ion-list>

    
    <div class="container-bottom-buttons" [class.sticky]="pagesTotal > 1">
      <!-- Previous/Next buttons -->  
      <!-- <app-page-buttons [bindedMarvelData]="marvelData"></app-page-buttons> -->
      <a (click)="prevPage()" [class.disabled]="pageNumber==1">&laquo;Previous</a> Page {{ pageNumber }} of {{ pagesTotal }}
      <a (click)="nextPage()" [class.disabled]="pageNumber==pagesTotal">Next&raquo;</a>
      
      <!-- Back button-->
      <br /><br />
      <a class="btn-back" (click)="goBack()">&laquo; Back to character</a>
    </div>
    
  </div>

</div>