<div class="ion-padding">
  <h1>
    <span *ngIf="characterName && !loadingName">
      {{ characterName + ' ' }}
    </span>
    Comics
  </h1>

  <div *ngIf="loading"><!-- marvelData.data.results.length===0 &&  -->
    loading...<br />
  </div>

  <div *ngIf="marvelData && marvelData.data && marvelData.data.results && marvelData.data.results.length===0 && !loading">
    no comics found<br /><br />
    <a class="btn-back" (click)="goBack()">&laquo; Back to character</a>
  </div>

  <div *ngIf="marvelData && marvelData.data && marvelData.data.results && marvelData.data.results.length>0 && !loading"> 
    <ion-list>
      <ion-item *ngFor="let comic of marvelData.data.results">
        <ion-label><a routerLink="/comic/{{ comic.id }}">{{ comic.title }}</a></ion-label>
      </ion-item>
    </ion-list>

    <div class="container-sticky-bottom">
      <!-- Previous/Next buttons -->  
      <div *ngIf="pagesTotal > 1">
        <!-- <app-page-buttons [bindedMarvelData]="marvelData"></app-page-buttons> -->
        <a (click)="prevPage()" [class.disabled]="pageNumber===1">&laquo;Previous</a> Page {{ pageNumber }} of {{ pagesTotal }}
        <a (click)="nextPage()" [class.disabled]="pageNumber===pagesTotal">Next&raquo;</a>
      </div>

      <!-- Back button-->
      <br /><br />
      <a class="btn-back" (click)="goBack()">&laquo; Back to character</a>
    </div>
    
  </div>

</div>