 <div class="ion-padding">
  <div class="container-buttons">
    <!-- Back button-->
    <a class="btn-back" (click)="goBack()">&laquo; Back</a>
  </div>

  <div *ngIf="loading"><!-- marvelData.data.results.length===0 &&  -->
    <div class="container-loading-list">
      <ion-spinner></ion-spinner>
    </div>
  </div>

  <div *ngIf="marvelData && marvelData.data && marvelData.data.results && marvelData.data.results.length===0 && !loading">
    <br />
    no comics found    
  </div>

  <div *ngIf="marvelData && marvelData.data && marvelData.data.results && marvelData.data.results.length>0 && !loading"> 
    <h1 *ngIf="characterName && !loadingCharacter">{{ characterName + ' ' }} Comics</h1>

    <ion-list>
      <ion-item *ngFor="let comic of marvelData.data.results" detail="false" routerLink="/comic/{{ comic.id }}">
        <ion-thumbnail slot="start">
          <img src="{{ comic.thumbnail.path + '.' + comic.thumbnail.extension }}" />
        </ion-thumbnail>
        <ion-label text-wrap>{{ comic.title }}</ion-label>
      </ion-item>
    </ion-list>
    
    <!-- Page buttons -->
    <ion-toolbar>
      <ion-buttons slot="secondary">
        <span [class.hide]="pageNumber===1">
          <ion-button fill="solid" (click)="prevPage()">
            <ion-icon slot="start" name="arrow-dropleft-circle"></ion-icon>
            Prev
          </ion-button>
        </span>
      </ion-buttons>        

      <ion-title>Page {{ pageNumber }} of {{ pagesTotal }}</ion-title>
      
      <ion-buttons slot="primary">
        <span [class.hide]="pageNumber===pagesTotal">
          <ion-button fill="solid" (click)="nextPage()">
            Next
            <ion-icon slot="end" name="arrow-dropright-circle"></ion-icon>
          </ion-button>
        </span>  
      </ion-buttons>      
    </ion-toolbar> 
    
  </div>

</div>
