<ion-app>
  <ion-header>
    <ion-toolbar color="primary">      
      <ion-title>
        <a class="header" routerLink="/home" title="The Walt Disney Company [Public domain], via Wikimedia Commons">
          <img height="40" alt="MarvelLogo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/MarvelLogo.svg/512px-MarvelLogo.svg.png" />
        </a>        
      </ion-title>        
    </ion-toolbar>
  </ion-header>

  <ion-content><!-- scrollEvents="true" -->
    <ion-router-outlet animated="false"></ion-router-outlet>
  </ion-content>

  <ion-footer>
    <ion-toolbar color="dark">
      <ion-title color="light">
          <a href="http://marvel.com">data from &copy; Marvel 2014</a>
      </ion-title>      
    </ion-toolbar>
  </ion-footer>
</ion-app>
