<div class="ion-padding">
  <div *ngIf="!character && loading">
    <div class="container-loading-list">
      <ion-spinner></ion-spinner>
    </div>    
  </div>

  <div *ngIf="!character && !loading">
    character not found<br />
  </div>
  
  <div *ngIf="character && !loading">
    <h1>{{ character.name }}</h1>

    <br />
    <img src="{{ character.thumbnail.path + '.' + character.thumbnail.extension }}" />        
    
    <p>{{ character.description }}</p>

    <!-- /characters/{{ character.id }}/comics/ DOES NOT WORK -->
    <ion-button routerLink="/comics-character-in/{{ character.id }}">View comics</ion-button>
    <br />
  </div>     

  <!-- Back button-->
  <br />
  <a class="btn-back" (click)="goBack()">&laquo; Back to characters</a>
  
</div>