<div class="ion-padding">
  <h1>Character</h1>

  <!-- routerLink="/characters" -->
  <a class="btn-back" (click)="goBack()">&laquo; Back to characters</a>
  <br />

  <div *ngIf="!character && loading">
    loading...<br />
  </div>

  <div *ngIf="!character && !loading">
    character not found<br />
  </div>
  
  <div *ngIf="character && !loading">    
    <p>
      <b>{{ character.name }}</b>
    </p>    
    <p>
      ID: {{ character.id }}
    </p>    
    <p>
      Description: {{ character.description }}
    </p>
    
    <!-- (click)="getComicsOfCharacter( character.id )" Don't need anymore -->
    <!-- /characters/{{ character.id }}/comics/ DOES NOT WORK -->
    <ion-button routerLink="/comics-character-in/{{ character.id }}">View comics</ion-button>
    
    <img src="{{ character.thumbnail.path + '.' + character.thumbnail.extension }}" />    
  </div>
      
  <br />
  
</div>