<div class="ion-padding">
  <h1>Characters</h1>

  <ion-searchbar placeholder="Search characters"></ion-searchbar>
  <br />

  <div *ngIf="!characters">
    characters are loading...<br />
  </div>

  <div *ngIf="characters && characters.length">  
    <ion-list>
      <ion-item *ngFor="let hero of characters">
        <ion-label><a routerLink="/character/{{ hero.id }}">{{ hero.name }}</a></ion-label>
      </ion-item>
    </ion-list>
  </div>

  <a routerLink="/home">&laquo; Back to home</a>
</div>
