<div class="ion-padding">
  <h1>Characters</h1>
  
  <a routerLink="/home">&laquo; Back to home</a>
  <br />
  
  <ion-searchbar placeholder="Search characters" #searchInput (ionClear)="clearSearch()"></ion-searchbar>
  <ion-button (click)="searchCharacters(searchInput.value)">Search</ion-button>
  <br />

  <div *ngIf="characters.length===0 && loading">
    loading...<br />
  </div>

  <div *ngIf="characters.length===0 && !loading">
    no characters found<br />
  </div>

  <div *ngIf="characters.length>0 && !loading">  
    <ion-list>
      <ion-item *ngFor="let character of characters">
        <ion-label><a routerLink="/character/{{ character.id }}">{{ character.name }}</a></ion-label>
      </ion-item>
    </ion-list>
  </div>  
</div>
